*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,rgb(233, 239, 242),rgb(9, 21, 249));
}
h1{
   
    color:rgb(58, 38, 14);
    width: 25%;
    padding: 5px;
    font-size: 50px;
    margin-top: 130px;
    margin-left: 40%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
    padding: 20px;
    border: 4px solid rgb(7, 3, 3);
    width: 40%;
   margin-top: 20px;
   position: absolute;
   margin-left: 30%;
}
.navbar{
    background-color:rgb(225, 229, 231);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px ;
    box-shadow: 0 0 0 2px rgb(153, 122, 122);
}
#input {
    width: 20%;
    height: 45px;
    background: none;
    padding: 7px;
    font-size: 18px;
    font-weight: 400;   
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    margin: 5px;
    
}
#input2 {
    width: 70%;
    height: 45px;
    background: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;   
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    
}

.button{
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 7px;
    border: none;
    background-color: orange;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10%;
}
.box{
    background: white;   
    margin-top: 50px;   
    padding: 30px 20px;
    border-radius: 5px ;
    width: 100%;
    position: relative;
}

.task{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(194, 223, 223);
    height: 60px;
    padding: 5px 10px;
    margin-top: 10px;
    border-bottom: 3px solid black;
    cursor: pointer;
    width: 100%;
}
.task span{
    font-size: 20px;
    font-weight: 500;
}
.task button{
    background-color: orange;
  
    color: white;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.task button img{
    width: 20px;
    height: 20px;
    background-color: orange;
    color: white;
    background: none;

}
.completed{
    text-decoration: line-through;
}